/* footer ---------------------------------- */
.page .footer {
    width: 988px;
    height: 80px;
    padding: 20px 0 20px 12px;
    color: #fff;
}

.page .footer>div {
    float: left;
}

.page .footer .footer_baner_1 {
    width: 202px;
}

.page .footer .footer_baner_2 {
    width: 230px;
}

.page .footer  .footer_baner_3 {
    width: 218px;
}

.page .footer .footer_baner_4 {
    width: 87px;
}

.page .footer .footer_baner_5 {
    width: 215px;
}

.page .footer .table-cell-view {
    height: 80px;
    display: table-cell;
    vertical-align: middle;
}